@model TransportManagementSystem.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableSeats" class="control-label"></label>
                <input asp-for="AvailableSeats" class="form-control" />
                <span asp-validation-for="AvailableSeats" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Operable" class="control-label"></label>
                <select name="Operable" id="Operable ">
                    <option class="form-control" value="Yes">Yes</option>
                    <option class="form-control" value="No">No</option>
                </select>
                <span asp-validation-for="Operable" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="IsAc" class="control-label"></label>
                <select name="IsAc" id="IsAc">
                    <option class="form-control" value="Yes">Yes</option>
                    <option class="form-control" value="No">No</option>
                </select>
                <span asp-validation-for="IsAc" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="RouteNumber" class="control-label"></label>
                <input asp-for="RouteNumber" class="form-control" />
                <span asp-validation-for="RouteNumber" class="text-danger"></span>
            </div>

            <div>
                <h1>Morning Shift</h1>
                <div class="form-group">
                    <label asp-for="MorningShiftArrivalTime" class="control-label"></label>
                    <input asp-for="MorningShiftArrivalTime" class="form-control" />
                    <span asp-validation-for="MorningShiftArrivalTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MorningShiftDepatureTime" class="control-label"></label>
                    <input asp-for="MorningShiftDepatureTime" class="form-control" />
                    <span asp-validation-for="MorningShiftDepatureTime" class="text-danger"></span>
                </div>
            </div>
            <div>
                <h1>Evening Shift</h1>
                <div class="form-group">
                    <label asp-for="EveningShiftArrivalTime" class="control-label"></label>
                    <input asp-for="EveningShiftArrivalTime" class="form-control" />
                    <span asp-validation-for="EveningShiftArrivalTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EveningShiftDepatureTime" class="control-label"></label>
                    <input asp-for="EveningShiftDepatureTime" class="form-control" />
                    <span asp-validation-for="EveningShiftDepatureTime" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
